<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>AdminHome</title>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/admin-assets/public/build/css/tailwind.css" />
    <script src="https://cdn.jsdelivr.net/gh/alpine-collective/alpine-magic-helpers@0.5.x/dist/component.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
    <!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JavaScript (optional, if you haven't included it already) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

            <div class=" col-md-6 d-flex justify-content-center">

                <!-- Add your form fields for adding a product here -->
       <form action="/admin/productedit" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required value="{{Product.name}}">
    </div>
    <div class="form-group">
        <label for="category">Category:</label>
        <input type="text" class="form-control" id="category" name="category"value="{{Product.category}}">
    </div>
    <div class="form-group">
        <label for="subCategory">Sub-Category:</label>
        <input type="text" class="form-control" id="subCategory" name="subCategory"value="{{Product.subCategory}}">
    </div>
    <div class="form-group">
        <label for="brand">Brand:</label>
        <input type="text" class="form-control" id="brand" name="brand"value="{{Product.brand}}">
    </div>
    <div class="form-group">
        <label for="manufacture">Manufacture:</label>
        <input type="text" class="form-control" id="manufacture" name="manufacture"value="{{Product.manufacture}}">
    </div>
    <div class="form-group">
        <label for="mrp">MRP:</label>
        <input type="number" class="form-control" id="mrp" name="mrp" required value="{{Product.mrp}}">
    </div>
    <div class="form-group">
        <label for="sellingPrice">Selling Price:</label>
        <input type="number" class="form-control" id="sellingPrice" name="sellingPrice" required value="{{Product.sellingPrice}}">
    </div>
    <div class="form-group">
        <label for="weight">Weight:</label>
        <input type="number" class="form-control" id="weight" name="weight" required value="{{Product.weight}}">
    </div>
    <div class="form-group">
        <label for="productImage">Product Image:</label>
        <input type="file" class="form-control-file" id="productImage" name="productImage">
         <img src="{{Product.productImage}}" alt="Product Image">
    </div>
    <div class="form-group">
        <label for="stock">Stock:</label>
        <input type="number" class="form-control" id="stock" name="stock" value="{{Product.stock}}">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="description" rows="3" > {{Product.description}}</textarea>
    </div>
    <div class="form-group">
        <label for="advancedDescription">Advanced Description:</label>
        <textarea class="form-control" id="advancedDescription" name="advancedDescription" rows="3" >{{Product.advancedDescription}}</textarea>
    </div>
    <div class="form-group">
        <label for="originOfProduct">Origin of Product:</label>
        <input type="text" class="form-control" id="originOfProduct" name="originOfProduct"value="{{Product.originOfProduct}}">
         <input type="hidden" class="form-control" id="originOfProduct" name="id"value="{{Product._id}}">
    </div>
    <button type="submit" class="btn btn-warning">Edit</button>
</form>

            </div>
            
    

    
</body>
</html>