<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from template.hasthemes.com/obrien/obrien/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Feb 2024 05:40:14 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cart</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
     <link rel="shortcut icon" type="image/x-icon" href="user-assets/images/logo.png">

    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/user-assets/css/vendor/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="/user-assets/css/vendor/font.awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/user-assets/css/vendor/ionicons.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="/user-assets/css/plugins/slick.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="/user-assets/css/plugins/animate.min.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="/user-assets/css/plugins/jquery-ui.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="/user-assets/css/plugins/nice-select.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/user-assets/css/plugins/magnific-popup.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->

    <!-- <link rel="stylesheet" href="/user-assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/user-assets/css/plugins/plugins.min.css"> -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="/user-assets/css/style.css">
    <!-- <link rel="stylesheet" href="/user-assets/css/style.min.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Add this in your HTML file to include Toastify -->
<link href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<style>
    .cart-plus-minuse {
    display: flex;
    align-items: center;
}

.cart-plus-minuse button {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    outline: none;
}

.cart-plus-minuse button:first-child {
    order: -1; /* Moves the first button to the left */
}

.cart-plus-minus-box {
    width: 50px; /* Adjust the width as needed */
    padding: 5px; /* Adjust the padding as needed */
    text-align: center;
    
}


</style>
</head>

<body>

    <div class="contact-wrapper">
        <header class="main-header-area">
            <!-- Main Header Area Start -->
            <div class="main-header">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-lg-12 col-custom">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-xl-2 col-sm-6 col-6 col-custom">
                                    <div class="header-logo d-flex align-items-center">
                                        <a href="/">
                                            <img class="img-full" src="/user-assets/images/logo/logo.png" alt="Header Logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-xl-7 position-static d-none d-lg-block col-custom">
                                    <nav class="main-nav d-flex justify-content-center">
                                        <ul class="nav">
                                            <li>
                                                <a href="/home">
                                                    <span class="menu-text"> Home</span>
                                                  
                                                </a>
                                              
                                            </li>
                                            <li>
                                                <a href="/Shop">
                                                    <span class="menu-text">Shop</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                               
                                                   
                                                    <div >
                                                        <ul class="dropdown-submenu dropdown-hover ps-3">
                                                            <li><a href="/Shop">Shop</a></li>
                                                         
                                                            <li><a href="/Wishlist">Wishlist</a></li>
                                                        </ul>
                                                    </div>
                                           
                                            </li>
                                           
                                           
                                            <li>
                                                <a href="/About">
                                                    <span class="menu-text"> About</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Contact">
                                                    <span class="menu-text">Contact</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-2 col-xl-3 col-sm-6 col-6 col-custom">
                                    <div class="header-right-area main-nav">
                                        <ul class="nav">
                                            <li class="login-register-wrap d-none d-xl-flex">
                                                <span style="color: rgb(0, 0, 0); font-size:20px">
     <a href="/MyAccount">  <i class="fas fa-user-circle" style="cursor: pointer;"></i></a>
    </span>  {{#unless userId}}
                                                <span><a href="/userlogin">Login</a></span>
                                                <span><a href="/userregister">Register</a></span>
                                                {{/unless}}
                                            </li>
                                            
                                          
                                            <li class="mobile-menu-btn d-lg-none">
                                                <a class="off-canvas-btn" href="#">
                                                    <i class="fa fa-bars"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Header Area End -->
            <!-- Sticky Header Start Here-->
            <div class="main-header header-sticky">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-lg-12 col-custom">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-xl-2 col-sm-6 col-6 col-custom">
                                    <div class="header-logo">
                                        <a href="/">
                                            <img class="img-full" src="/user-assets/images/logo/logo.png" alt="Header Logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-xl-7 position-static d-none d-lg-block col-custom">
                                    <nav class="main-nav d-flex justify-content-center">
                                        <ul class="nav">
                                            <li>
                                                <a href="/">
                                                    <span class="menu-text"> Home</span>
                                                 
                                                </a>
                                                
                                            </li>
                                            <li>
                                                <a href="/Shop">
                                                    <span class="menu-text">Shop</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                               
                                                   <div >
                                                        <ul class="dropdown-submenu dropdown-hover ps-3">
                                                            <li><a href="/Shop">Shop</a></li>
                                                           
                                                            <li><a href="/Wishlist">Wishlist</a></li>
                                                        </ul>
                                                    </div>
                                           
                                            </li>
                                          
                                          
                                            <li>
                                                <a href="/about">
                                                    <span class="menu-text"> About</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/contact">
                                                    <span class="menu-text">Contact</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                              <div class="col-lg-2 col-xl-3 col-sm-6 col-6 col-custom">
                                    <div class="header-right-area main-nav">
                                        <ul class="nav">
                                            <li class="login-register-wrap d-none d-xl-flex">
                                                <span style="color: rgb(0, 0, 0); font-size:20px">
     <a href="/MyAccount">  <i class="fas fa-user-circle" style="cursor: pointer;"></i></a>
    </span>
       {{#unless userId}}
    
                                                <span><a href="/userlogin">Login</a></span>
                                                <span><a href="/userregister">Register</a></span>
                                                {{/unless}}
                                            </li>
                                            
                                          
                                            <li class="mobile-menu-btn d-lg-none">
                                                <a class="off-canvas-btn" href="#">
                                                    <i class="fa fa-bars"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sticky Header End Here -->
            <!-- off-canvas menu start -->
             <aside class="off-canvas-wrapper" id="mobileMenu">
                <div class="off-canvas-overlay"></div>
                <div class="off-canvas-inner-content">
                    <div class="btn-close-off-canvas">
                        <i class="fa fa-times"></i>
                    </div>
                    <div class="off-canvas-inner">

                        <div class="search-box-offcanvas">
                            
                        </div>
                        <!-- mobile menu start -->
                        <div class="mobile-navigation">

                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li class="menu-item-has-children"><a href="/">Home</a>
                                        
                                    </li>
                                    <li class="menu-item-has-children"><a href="/shop">Shop</a>
                                        <ul class="megamenu dropdown">
                                                <ul>
                                                       
                                                            
                                                            <li><a href="/Wishlist">Wishlist</a></li>
                                                        </ul>
                                            </li>
                                        </ul>
                                    </li>
                                   
                                   
                                    <li><a href="/About">About Us</a></li>
                                    <li><a href="/Contact">Contact</a></li>
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- mobile menu end -->
                        <div class="header-top-settings offcanvas-curreny-lang-support">
                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li class="menu-item-has-children"><a href="/MyAccount">My Account</a>
                                    {{#unless token}}
                                        <ul class="dropdown">
                                            <span><a href="/Userlogin">Login</a></span> 
                                        </ul>
                                         <ul class="dropdown">
                                            <span><a href="/userregister">Register</a></span>
                                        </ul>
                                        {{/unless}}
                                    </li>
                                   
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- offcanvas widget area start -->
                        <div class="offcanvas-widget-area">
                            <div class="top-info-wrap text-left text-black">
                                <ul>
                                    <li>
                                        <i class="fa fa-phone"><br>+91 7034936080</i>
                                        <a href="/"></a>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <a href="/">fruitbasketmails@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                        <!-- offcanvas widget area end -->
                    </div>
                </div>
            </aside>
            <!-- off-canvas menu end -->
        </header>
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumbs-area position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="breadcrumb-content position-relative section-content">
                            <h3 class="title-3">Shopping Cart</h3>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Cart</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- cart main wrapper start -->
        {{#if bookings}}
        <div class="cart-main-wrapper mt-no-text mb-no-text">
            <div class="container container-default-2 custom-area">
                <div class="row">
                    <div class="col-lg-12 ">
                        <!-- Cart Table Area -->
                        <div class="cart-table table-responsive ">
                            <table class="table table-bordered  ">
                                <thead >
                                    <tr >
                                        <th class="pro-thumbnail">Image</th>
                                        <th class="pro-title">Product</th>
                                        <th class="pro-price">Price</th>
                                        <th class="pro-quantity">Quantity</th>
                                        <th class="pro-subtotal">Total</th>
                                        <th class="pro-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
{{#each bookings}}
<tr>
    <td class="pro-thumbnail"><a href="#"><img class="img-fluid" src="{{this.product.productImage}}" alt="Product Image" /></a></td>
    <td class="pro-title"><a href="#">{{this.product.name}}</a></td>
    <td class="pro-price"><span id="mrp"><span>&#8377;</span>{{this.product.mrp}}</span></td>
   <td class="pro-quantity">
    <div class="quantityy">
    <div class="cart-plus-minuse">
        <button type="button" onclick="decrementQuantity('{{this.product._id}}')">-</button>
        <input id="quantityInput{{this.product._id}}" class="cart-plus-minus-box " value='{{this.quantity}}' type="text">
        <button type="button" onclick="incrementQuantity('{{this.product._id}}')">+</button>
    </div>
</div>

</td>

    <td class="pro-subtotal"><span id="total"><span>&#8377;</span>{{#if this.total}}{{this.total}}{{else}}{{this.product.mrp}}{{/if}}</span></td>
    <td class="pro-remove"><a href="/DeleteFromMainCart/{{this.product._id}}"><i class="ion-trash-b"></i></a></td>
</tr>
{{/each}}




                                    
                                   
                                </tbody>
                            </table>
                        </div>
                        <!-- Cart Update Option -->
                        <div class="cart-update-option d-block d-md-flex justify-content-between">
                            <div class="apply-coupon-wrapper d-block d-md-flex">
                                <div class="  d-block d-md-flex col-12">
                                    <input type="text" placeholder="Enter Coupon Code" id="inputforcoupon" class="me-5 col-12 col-lg-6 col-md-5 text-center ">
                                    <button class="btn obrien-button primary-btn" id="buttonforcoupon" type="button">Apply Coupon</button>
                                     <p id="couponmessage" style="display: none; color:green; font: weight 1000px; " class="total-amount "> </p>
                                    
                                </div>  
                            </div>
                            
                            <div class="cart-update mt-sm-16">
                                <a href="/Cart" class="btn obrien-button primary-btn">Update Cart</a>
                            </div>
                            
                        </div>
   
                      <!-- Button to toggle the collapse -->
<p class="mt-2 ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#couponCollapse" aria-expanded="false" aria-controls="couponCollapse" style="color: black; font-size: smaller;">
    <img src="user-assets/images/icons/alert.png" alt="" style="width: 15px; height: 15px;">
    Click here to see the rules and regulations for applying coupons
</p>


<!-- Collapse content -->
<div class="collapse" id="couponCollapse">
  <div class="card card-body">
   Applying a coupon typically involves entering a coupon code during checkout to receive a discount or special offer. In this case, to apply the coupon successfully, the subtotal of the purchase must be greater than 99. This ensures that the coupon's benefits are only available for purchases meeting a minimum threshold, encouraging customers to make larger purchases to avail of the discount.
    <!-- Your coupon input field and apply button can be placed here -->
  </div>
</div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 ml-auto">
                        <!-- Cart Calculation Area -->
                        <div class="cart-calculator-wrapper">
                            <div class="cart-calculate-items">
                                <h3>Cart Totals</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <td>Sub Total</td>
                                            <td><span>&#8377;</span>{{subtotal}}</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping</td>
                                            <td><span>&#8377;</span>70</td>
                                        </tr>
                                        <tr class="total">
                                            <td>Total</td>
                                            <td class="total-amount" id="grandtotalamounthide"><span>&#8377;</span>{{grandtotal}}</td>
                                             <td id="hiddenTotalValue" style="display: none;" class="total-amount "><span>&#8377;</span> </td>
                                        </tr>
                                    </table>
                                   
                                </div>
                            </div>
                            <a href="/Checkout" class="btn obrien-button primary-btn d-block">Proceed To Checkout</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <div class="total m-5">
        <p class="text-center">Cart is empty!</p>
        </div>
        {{/if}}
        <!-- cart main wrapper end -->
        
      <div class="support-area">
            <div class="container container-default custom-area">
                <div class="row">
                    <div class="col-lg-12 col-custom">
                        <div class="support-wrapper d-flex">
                            <div class="support-content">
                                <h1 class="title">Need Help ?</h1>
                                <p class="desc-content">Call our support 24/7 at 7034936080</p>
                            </div>
                            <div class="support-button d-flex align-items-center">
                                <a class="obrien-button primary-btn" href="/Contact">Contact now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Support Area End Here -->
        <!-- Footer Area Start Here -->
         <footer class="footer-area">
            <div class="footer-widget-area">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-custom">
                            <div class="single-footer-widget m-0">
                                <div class="footer-logo">
                                    <a href="/">
                                        <img src="user-assets/images/logo/footer.png" alt="Logo Image">
                                    </a>
                                </div>
                                <p class="desc-content">Fruitbasket is the best parts shop of your daily nutritions. What kind of nutrition do you need you can get here</p>
                               
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                            <div class="single-footer-widget">
                                <h2 class="widget-title">Information</h2>
                                <ul class="widget-list">
                                    <li><a href="/About">Our Company</a></li>
                                    <li><a href="/Contact">Contact Us</a></li>
                                    <li><a href="/About">Our Services</a></li>
                                 
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                            <div class="single-footer-widget">
                                <h2 class="widget-title">Quicklink</h2>
                                <ul class="widget-list">
                                    <li><a href="/About">About</a></li>
                                    
                                    <li><a href="/shop">Shop</a></li>
                                    <li><a href="/cart">Cart</a></li>
                                    <li><a href="/Contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                     
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-custom">
                            <div class="single-footer-widget">
                                <h2 class="widget-title">See Information</h2>
                                <div class="widget-body">
                                    <address>3rd Floor Hilite business park , calicut<br>Phone:+91 7034906080<br>Email: https://fruitbasketmails@gmail.com</address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </footer>
        <!-- Footer Area End Here -->
    </div>

    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src="/user-assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- jQuery Migrate JS -->
    <script src="/user-assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Modernizer JS -->
    <script src="/user-assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/user-assets/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- Slick Slider JS -->
    <script src="/user-assets/js/plugins/slick.min.js"></script>
    <!-- Countdown JS -->
    <script src="/user-assets/js/plugins/jquery.countdown.min.js"></script>
    <!-- Ajax JS -->
    <script src="/user-assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <!-- Jquery Nice Select JS -->
    <script src="/user-assets/js/plugins/jquery.nice-select.min.js"></script>
    <!-- Jquery Ui JS -->
    <script src="/user-assets/js/plugins/jquery-ui.min.js"></script>
    <!-- jquery magnific popup js -->
    <script src="/user-assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!-- Main JS -->
    <script src="/user-assets/js/main.js"></script>

</body>


<!-- Mirrored from template.hasthemes.com/obrien/obrien/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Feb 2024 05:40:14 GMT -->
</html>
<script>
    
document.getElementById('buttonforcoupon').addEventListener('click', async () => {
    const couponCode = document.getElementById('inputforcoupon').value.trim();

    try {
        const response = await fetch('/applyCoupon', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ couponCode })
        });

        const responseData = await response.json();
       console.log(responseData)
        if (!response.ok) {
            if(responseData.messagefortotal){
                Toastify({
                text: responseData.messagefortotal|| 'Error applying coupon',
                duration: 3000,
                close: true,
                gravity: 'top',
                position: 'center',
                backgroundColor: 'red' // Optional: Customize the background color for error messages
            }).showToast();
            }else{
                Toastify({
            text:'Invalid or Expired Coupon',
            duration: 3000,
            close: true,
            gravity: 'top',
            position: 'center',
            backgroundColor: 'red' // Optional: Customize the background color for error messages
        }).showToast();
            }
        }
        

        if (responseData.success) {
            // Display success message
            Toastify({
                text: 'Coupon applied successfully!',
                duration: 3000,
                close: true,
                gravity: 'top',
                position: 'center',
                backgroundColor: 'light-green'
            }).showToast();

            // Update UI elements
            const totalAmountElement = document.getElementById('grandtotalamounthide');
            const hiddenTotalValueElement = document.getElementById('hiddenTotalValue');
            const msg = document.getElementById('couponmessage');

            document.getElementById('inputforcoupon').style.display = 'none';
            document.getElementById('buttonforcoupon').style.display = 'none';

            msg.style.display = 'block';
            msg.innerHTML = `Coupon applied! You got <span>&#8377;</span> ${responseData.dis} discount.`;

            totalAmountElement.style.display = 'none';
            hiddenTotalValueElement.innerHTML = `<span>&#8377;</span> ${responseData.grandTotal}`;
            hiddenTotalValueElement.style.display = 'table-cell';
            hiddenTotalValueElement.style.paddingLeft = '278px';
        } 
    } catch (error) {
        Toastify({
            text:'Error applying coupon',
            duration: 3000,
            close: true,
            gravity: 'top',
            position: 'center',
            backgroundColor: 'red' // Optional: Customize the background color for error messages
        }).showToast();
    }
});






  // Function to increment the quantity
const incrementQuantity = (productId) => {
    const quantityInput = document.getElementById(`quantityInput${productId}`);
    const currentValue = parseInt(quantityInput.value);
    const newValue = currentValue + 1;
    quantityInput.value = newValue;

    // Call a function to send the updated quantity to the backend
    updateQuantity(productId, newValue);
}

// Function to decrement the quantity
const decrementQuantity = (productId) => {
    const quantityInput = document.getElementById(`quantityInput${productId}`);
    const currentValue = parseInt(quantityInput.value);
    // Ensure quantity does not go below 1
    const newValue = currentValue > 0 ? currentValue - 1 : 1;
    quantityInput.value = newValue;

    // Call a function to send the updated quantity to the backend
    updateQuantity(productId, newValue);
}

// Function to send the updated quantity to the backend
const updateQuantity = async (productId, newQuantity) => {
    try {
        if (newQuantity <= 0) {
            // Display SweetAlert for confirmation
            const willRemove = await Swal.fire({
                title: 'Remove Item',
                text: 'Are you sure you want to remove this item from your cart?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove it!'
            });
            if(!willRemove.isConfirmed){
              
                 window.location.reload()
               
            }

            if (willRemove.isConfirmed) {
                // Proceed with the fetch request to remove the item
                const response = await fetch('/removeFromCart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId })
                });

                if (response.ok) {
                    // Item removed successfully, handle UI update or redirection
                    window.location.reload(); // For example, reload the page
                } else { 
                    const errorData = await response.json();
                    Toastify({
                        text: errorData.message,
                        backgroundColor: 'red',
                        duration: 2000,
                        gravity: 'center'
                    }).showToast();
                }
            }
        } else {
            // Proceed with the fetch request to update the quantity
            const response = await fetch('/updateQuantity', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ productId, newQuantity })
            });

            if (response.ok) {
                // Quantity updated successfully, handle UI update or redirection
                window.location.reload(); // For example, reload the page
            } else {
                // Handle error response from the server
                const errorData = await response.json();
                Toastify({
                    text: errorData.message,
                    backgroundColor: 'red',
                    duration: 2000,
                    gravity: 'center'
                }).showToast();
                setTimeout(()=>{
                 window.location.reload()
                },1000)
            }
        }
    } catch (error) {
        // Handle any unexpected errors
        console.error('Error updating quantity:', error);
    }
};


</script>