<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from template.hasthemes.com/obrien/obrien/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Feb 2024 05:40:04 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Fruitbasket</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="user-assets/images/logo.png">

    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="user-assets/css/vendor/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="user-assets/css/vendor/font.awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="user-assets/css/vendor/ionicons.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="user-assets/css/plugins/slick.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="user-assets/css/plugins/animate.min.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="user-assets/css/plugins/jquery-ui.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="user-assets/css/plugins/nice-select.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="user-assets/css/plugins/magnific-popup.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="user-assets/css/style.css">
    <!-- <link rel="stylesheet" href="user-assets/css/style.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <!-- Add this in the <head> section of your HTML file -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<style>
     .swiper-container {
        max-width: 100%;
        overflow: hidden; /* Hide overflowing content */
    }
    .swiper-wrapper {
        display: flex; /* Use flexbox layout */
        transition: transform 0.5s ease; /* Smooth transition for sliding */
    }
    .swiper-slide {
        flex-shrink: 0; /* Prevent items from shrinking */
        width: calc(25% - 20px); /* Adjust slide width (4 items with 10px space between) */
        margin-right: 10px; /* Space between slides */
    }
    .swiper-slide img {
        max-width: 100%; /* Ensure images fit within slides */
        height: auto;
    }
</style>


</head>

<body>
    

    <div class="home-wrapper home-1">
        <!-- Header Area Start Here -->
        <header class="main-header-area">
            <!-- Header Top Area Start Here -->
            <div class="header-top-area">
                <div class="container container-default-2 custom-area">
                   
                </div>
            </div>
            <!-- Header Top Area End Here -->
            <!-- Main Header Area Start -->
          <div class="main-header">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-lg-12 col-custom">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-xl-2 col-sm-6 col-6 col-custom">
                                    <div class="header-logo d-flex align-items-center">
                                        <a href="/">
                                            <img class="img-full" src="user-assets/images/logo/logo.png" alt="Header Logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-xl-7 position-static d-none d-lg-block col-custom">
                                    <nav class="main-nav d-flex justify-content-center">
                                        <ul class="nav">
                                            <li>
                                                <a class="active" href="/">
                                                    <span class="menu-text"> Home</span>
                                                    
                                                </a>
                                               
                                            </li>
                                            <li>
                                                <a href="/Shop">
                                                    <span class="menu-text">Shop</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                               
                                                   
                                                    <div >
                                                        <ul class="dropdown-submenu dropdown-hover ps-3">
                                                            <li><a href="/Shop">Shop</a></li>
                                                            <li><a href="/Cart">Cart</a></li>
                                                            <li><a href="/Wishlist">Wishlist</a></li>
                                                        </ul>
                                                    </div>
                                           
                                            </li>
                                           
                                           
                                            <li>
                                                <a href="/About">
                                                    <span class="menu-text"> About</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Contact">
                                                    <span class="menu-text">Contact</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-2 col-xl-3 col-sm-6 col-6 col-custom">
                                    <div class="header-right-area main-nav">
                                        <ul class="nav">
       <li class="login-register-wrap d-none d-xl-flex">
                                                <span style="color: rgb(0, 0, 0); font-size:20px">
     <a href="/MyAccount">  <i class="fas fa-user-circle" style="cursor: pointer;"></i></a>
    </span><span><a href="/cart"> <i class="ion-bag" style="font-size: 20px;"></i></a></span>
       {{#unless user}}
                                                <span><a href="/userlogin">Login</a></span>
                                                <span><a href="/userregister">Register</a></span>
                                                {{/unless}}
                                            </li>
                                            
{{#if successMessage}}
<script>
    Swal.fire({
        icon: 'success',
        title: 'Login Success',
        text: '{{ successMessage }}',
        showConfirmButton: false,
        timer: 1500 // Auto close after 1.5 seconds
    });
</script>
{{/if}}



                                            </li>

                                          
                                            <li class="mobile-menu-btn d-lg-none">
                                                <a class="off-canvas-btn" href="#">
                                                    <i class="fa fa-bars"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Header Area End -->
            <!-- Sticky Header Start Here-->
            <div class="main-header header-sticky">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-lg-12 col-custom">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-xl-2 col-sm-6 col-6 col-custom">
                                    <div class="header-logo">
                                        <a href="/">
                                            <img class="img-full" src="user-assets/images/logo/logo.png" alt="Header Logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-xl-7 position-static d-none d-lg-block col-custom">
                                    <nav class="main-nav d-flex justify-content-center">
                                        <ul class="nav">
                                            <li>
                                                <a href="/Shop">
                                                    <span class="menu-text">Shop</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                               
                                                   
                                                     <div >
                                                        <ul class="dropdown-submenu dropdown-hover ps-3">
                                                            <li><a href="/Shop">Shop</a></li>
                                                            <li><a href="/Cart">Cart</a></li>
                                                            <li><a href="/Wishlist">Wishlist</a></li>
                                                        </ul>
                                                    </div>
                                            </li>
                                            
                                           
                                            <li>
                                                <a href="/About">
                                                    <span class="menu-text"> About</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Contact">
                                                    <span class="menu-text">Contact</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-2 col-xl-3 col-sm-6 col-6 col-custom">
                                    <div class="header-right-area main-nav">
                                        <ul class="nav">
                                            <li class="login-register-wrap d-none d-xl-flex">
                                                <span style="color: rgb(0, 0, 0); font-size:20px">
     <a href="/MyAccount">  <i class="fas fa-user-circle" style="cursor: pointer;"></i></a>
    </span><span><a href="/cart"> <i class="ion-bag" style="font-size: 20px;"></i></a></span>
       {{#unless user}}
                                                <span><a href="/userlogin">Login</a></span>
                                                <span><a href="/userregister">Register</a></span>
                                                {{/unless}}
                                            </li>
                                            
                                            
                                          
                                            <li class="mobile-menu-btn d-lg-none">
                                                <a class="off-canvas-btn" href="#mobileMenu">
                                                    <i class="fa fa-bars"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sticky Header End Here -->
            <!-- off-canvas menu start -->
            <aside class="off-canvas-wrapper" id="mobileMenu">
                <div class="off-canvas-overlay"></div>
                <div class="off-canvas-inner-content">
                    <div class="btn-close-off-canvas">
                        <i class="fa fa-times"></i>
                    </div>
                    <div class="off-canvas-inner">

                        <div class="search-box-offcanvas">
                            
                        </div>
                        <!-- mobile menu start -->
                        <div class="mobile-navigation">

                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li class="menu-item-has-children"><a href="/">Home</a>
                                        
                                    </li>
                                    <li class="menu-item-has-children"><a href="/shop">Shop</a>
                                        <ul class="megamenu dropdown">
                                                <ul>
                                                            <li><a href="/Cart">Cart</a></li>
                                                            
                                                            <li><a href="/Wishlist">Wishlist</a></li>
                                                        </ul>
                                            </li>
                                        </ul>
                                    </li>
                                   
                                   
                                    <li><a href="/About">About</a></li>
                                    <li><a href="/Contact">Contact</a></li>
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- mobile menu end -->
                        <div class="header-top-settings offcanvas-curreny-lang-support">
                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li class="menu-item-has-children"><a href="/MyAccount">My Account</a>
                                    {{#unless user}}
                                        <ul class="dropdown">
                                            <span><a href="/Userlogin">Login</a></span> 
                                        </ul>
                                         <ul class="dropdown">
                                            <span><a href="/userregister">Register</a></span>
                                        </ul>
                                        {{/unless}}
                                    </li>
                                   
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- offcanvas widget area start -->
                        <div class="offcanvas-widget-area">
                            <div class="top-info-wrap text-left text-black">
                                <ul>
                                    <li>
                                        <i class="fa fa-phone"><br>+91 7034936080</i>
                                        <a href="/"></a>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <a href="/">fruitbasketmails@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                        <!-- offcanvas widget area end -->
                    </div>
                </div>
            </aside>
            <!-- off-canvas menu end -->
        </header>
        <!-- Header Area End Here -->
        <!-- Begin Slider Area One -->
        <div class="slider-area">
            <div class="obrien-slider arrow-style" data-slick-options='{
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "infinite": true,
        "arrows": true,
        "dots": true,
        "autoplay" : true,
        "fade" : true,
        "autoplaySpeed" : 7000,
        "pauseOnHover" : false,
        "pauseOnFocus" : false
        }' data-slick-responsive='[
        {"breakpoint":992, "settings": {
        "slidesToShow": 1,
        "arrows": false,
        "dots": true
        }}
        ]'>
                <div class="slide-item slide-1 bg-position slide-bg-1 animation-style-01">
                    <div class="slider-content">
                        <h4 class="slider-small-title">Cold processed organic fruit</h4>
                        <h2 class="slider-large-title">Fresh Avocado</h2>
                        <div class="slider-btn">
                            <a class="obrien-button black-btn" href="/shop">Shop Now</a>
                        </div>
                    </div>
                </div>
                <div class="slide-item slide-2 bg-position slide-bg-1 animation-style-01">
                    <div class="slider-content">
                        <h4 class="slider-small-title">Healthy life with</h4>
                        <h2 class="slider-large-title">Natural Organic</h2>
                        <div class="slider-btn">
                            <a class="obrien-button black-btn" href="/shop">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area One End Here -->
        <!-- Feature Area Start Here -->
        <div class="feature-area">
            <div class="container container-default custom-wrapper">
                <div class="row">
                    <div class="col-xl-6 col-lg-5 col-md-12 col-custom">
                        <div class="feature-content-wrapper">
    <h2 class="title">The Importance of Eating Fruit</h2>
    <p class="desc-content">Eating fruit provides numerous health benefits. People who consume more fruits and vegetables as part of a balanced diet tend to have a lower risk of developing chronic diseases. Fruits are rich in essential nutrients crucial for maintaining good health.</p>
    <p class="desc-content">Fruits are excellent sources of nutrients that are often lacking in diets, such as potassium, dietary fiber, vitamin C, and folate (folic acid).</p>
    <p class="desc-content">Furthermore, most fruits are naturally low in fat, sodium, and calories, making them an ideal choice for a healthy diet. They are also cholesterol-free.</p>
</div>

                    </div>
                    <div class="col-xl-6 col-lg-7 col-md-12 col-custom">
                        <div class="feature-image">
                            <img src="user-assets/images/feature/feature-1.jpeg" alt="Obrien Feature" style="border-radius: 10px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature Area End Here -->
        <h4 class="title-1 text-uppercase text-center mb-3">New Arrivals</h4>
            <div class="desc-content text-center mb-5 ps-3 pe-3">
                               <p>Our new arrivals of fruits promise unmatched quality and taste. Explore our selection today and savor the goodness of nature's bounty!</p>
                            </div>
             <div class="container ">
        <div class="product-area ">
            <div class="swiper-container ">
                <div class="swiper-wrapper ">
                    {{#if products}}
                        {{#each products}}
                            <div class="swiper-slide">
                                <div class="single-product position-relative">
                                    <div class="product-image">
                                        <a class="d-block" href="/products-details/{{this.id}}">
                                            <img src="{{this.productImage}}" alt="" class="product-image-1">
                                        </a>
                                    </div>
                                    {{#if this.isDisabled}}
                                    <div class="label-product">
                                        <span class="label-sale position-absolute text-uppercase text-white text-center d-block">Soldout</span>
                                    </div>
                                    {{/if}}
                                    <div class="product-content">
                                  
                                        <div class="product-title text-center p-3">
                                            <h4 class="title-2"> <a href="/products-details">{{this.name}}</a></h4>
                                        </div>
                                        <div class="price-box text-center">
                                            <span class="regular-price text-bold"><span>&#8377;</span>{{this.mrp}}/-</span>
                                            <span class="old-price"><del>$90.00</del></span>
                                        </div>
                                    </div>
                                    {{#unless this.isDisabled}}
                                    <div class="add-action d-flex position-absolute">
 <a href="#" class="add-to-cart-link" data-product-id="{{this._id}}" title="Add To Cart">
    <i class="ion-bag"></i>
</a>

  <a href="#" class="add-to-wishlist-link" data-product-id="{{this._id}}" title="Add To Wishlist">
    <i class="ion-ios-heart-outline"></i>
</a>

                                    </div>
                                    {{/unless}}
                                </div>
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
               
            </div>
        </div>
    </div>
        <!-- Product Area Start Here -->
        
        <!-- Product Area End Here -->
        <!-- Banner Fullwidth Area Start Here -->
   
   
        <!-- Banner Fullwidth Area End Here -->
        <!-- Banner Area Start Here -->
        <h4 class="title-1 text-uppercase text-center mt-5">Shop Now !</h4>
        <div class="banner-area mt-3">
            <div class="container container-default custom-area">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-custom">
                        <div class="banner-image hover-style">
                            <a class="d-block" href="/shop">
                                <img class="w-100" src="user-assets/images/banner/small-banner/1-1.png" alt="Banner Image" style="border-radius: 10px;">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-custom">
                        <div class="banner-image hover-style">
                            <a class="d-block" href="/shop">
                                <img class="w-100" src="user-assets/images/banner/small-banner/1-2.png" alt="Banner Image" style="border-radius: 10px;">
                            </a>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- Banner Area End Here -->
        <!-- Product Area Start Here -->
        <div class="product-area">
            <div class="container container-default custom-area">
                <div class="row">
                    <div class="col-lg-5 m-auto text-center col-custom">
                        <div class="section-content">
                            <h2 class="title-1 text-uppercase">Featured Products</h2>
                            <div class="desc-content">
                                <p>All the best product are now available for you and your can buy this product from here any time any where shop now</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    
                           {{#if products}}
                            {{#each products}}
                            <div class="col-md-6 col-sm-6 col-lg-3 col-custom product-area mb-5" id="specificDiv">
                                <div class="single-product position-relative">
                                    <div class="product-image">
                                        <a class="d-block" href="/products-details/{{this.id}}">
                                            <img src="{{this.productImage}}" alt="" class="product-image-1 w-100">
                                           
                                        </a>
                                    </div>
                                      {{#if this.isDisabled}}
                                    <div class="label-product">
                                        <span class="label-sale position-absolute text-uppercase text-white text-center d-block">Soldout</span>
                                    </div>
                                    {{/if}}
                                    <div class="product-content">
                                        
                                        <div class="product-title text-center p-3">
                                            <h4 class="title-2"> <a href="/products-details">{{this.name}}</a></h4>
                                        </div>
                                        <div class="price-box text-center">
                                            <span class="regular-price text-bold"><span>&#8377;</span>{{this.mrp}}/-</span>
                                            <span class="old-price"><del>$90.00</del></span>
                                        </div>
                                    </div>
                                    {{#unless this.isDisabled}}
                                    <div class="add-action d-flex position-absolute ">

<a href="#" class="add-to-cart-link" data-product-id="{{this._id}}" title="Add To Cart">
    <i class="ion-bag"></i>
</a>


                                       
                                                                      
  <a href="#" class="add-to-wishlist-link" data-product-id="{{this._id}}" title="Add To Wishlist">
    <i class="ion-ios-heart-outline"></i>
</a>

                                    </div>
                                    {{/unless}}
                                   
                                </div>
                            </div>
                            {{/each}}
                           {{/if}}                        
                            
                                    
                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Area End Here -->
        <!-- Newslatter Area Start Here -->
       
        <!-- Newslatter Area End Here -->
        <!-- Latest Blog Area Start Here -->
       
        <!-- Latest Blog Area End Here -->
        <!-- Support Area Start Here -->
        <div class="support-area">
            <div class="container container-default custom-area">
                <div class="row">
                    <div class="col-lg-12 col-custom">
                        <div class="support-wrapper d-flex">
                            <div class="support-content">
                                <h1 class="title">Need Help ?</h1>
                                <p class="desc-content">Call our support 24/7 at 7034936080</p>
                            </div>
                            <div class="support-button d-flex align-items-center">
                                <a class="obrien-button primary-btn" href="/Contact">Contact now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Support Area End Here -->
        <!-- Footer Area Start Here -->
        <footer class="footer-area">
            <div class="footer-widget-area">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-custom">
                            <div class="single-footer-widget m-0">
                                <div class="footer-logo">
                                    <a href="/">
                                        <img src="user-assets/images/logo/footer.png" alt="Logo Image">
                                    </a>
                                </div>
                                <p class="desc-content">Fruitbasket is the best parts shop of your daily nutritions. What kind of nutrition do you need you can get here</p>
                               
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                            <div class="single-footer-widget">
                                <h2 class="widget-title">Information</h2>
                                <ul class="widget-list">
                                    <li><a href="/About">Our Company</a></li>
                                    <li><a href="/Contact">Contact Us</a></li>
                                    <li><a href="/About">Our Services</a></li>
                                 
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                            <div class="single-footer-widget">
                                <h2 class="widget-title">Quicklink</h2>
                                <ul class="widget-list">
                                    <li><a href="/About">About</a></li>
                                    
                                    <li><a href="/shop">Shop</a></li>
                                    <li><a href="/cart">Cart</a></li>
                                    <li><a href="/Contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                     
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-custom">
                            <div class="single-footer-widget">
                                <h2 class="widget-title">See Information</h2>
                                <div class="widget-body">
                                    <address>3rd Floor Hilite business park , calicut<br>Phone:+91 7034906080<br>Email: https://fruitbasketmails@gmail.com</address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </footer>
        <!-- Footer Area End Here -->
    </div>

    

    <!-- Scroll to Top Start -->
    <a class="scroll-to-top" href="#">
        <i class="ion-chevron-up"></i>
    </a>
    <!-- Scroll to Top End -->


{{!-- successmessageforloginsuccessotp --}}
{{#if successmessage}}
    <script>
        Swal.fire({
            icon: 'success',
            title: '{{ successmessage }}',
            showConfirmButton: false,
            timer: 2500
        });
    </script>
{{/if}}



    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src="user-assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- jQuery Migrate JS -->
    <script src="user-assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Modernizer JS -->
    <script src="user-assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="user-assets/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- Slick Slider JS -->
    <script src="user-assets/js/plugins/slick.min.js"></script>
    <!-- Countdown JS -->
    <script src="user-assets/js/plugins/jquery.countdown.min.js"></script>
    <!-- Ajax JS -->
    <script src="user-assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <!-- Jquery Nice Select JS -->
    <script src="user-assets/js/plugins/jquery.nice-select.min.js"></script>
    <!-- Jquery Ui JS -->
    <script src="user-assets/js/plugins/jquery-ui.min.js"></script>
    <!-- jquery magnific popup js -->
    <script src="user-assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!-- Main JS -->
    <script src="user-assets/js/main.js"></script>
 <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>



<!-- Mirrored from template.hasthemes.com/obrien/obrien/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Feb 2024 05:40:05 GMT -->
<script>

document.querySelectorAll('.add-to-cart-link').forEach(link => {
    link.addEventListener('click', (event) => {
        event.preventDefault(); // Prevent the default link behavior
        const productId = link.getAttribute('data-product-id');
        // Call a function to handle adding the product to the cart with the productId
        addToCart(productId);
    });
});


/// Example usage when clicking the "Add to Cart" button
document.querySelectorAll('.add-to-cart-link').forEach(link => {
    link.addEventListener('click', async (event) => {
        event.preventDefault(); // Prevent the default link behavior

        const productId = link.getAttribute('data-product-id');
        const url = '/addToCartFromHomepage'; // Replace with your actual backend endpoint

        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ productId })
            });

            if (response.ok) {
                const responseData = await response.json();
                Toastify({
                    text: responseData.message,
                    backgroundColor: 'green',
                    duration: 2000,
                    gravity: 'center'
                }).showToast();
            } else {
                const errorData = await response.json();
                if (errorData.message === 'Item is already in cart') {
                    Toastify({
                        text: 'Item is already in cart',
                        backgroundColor: 'orange',
                        duration: 3000,
                        gravity: 'center',
                        onClick: function () {
                            console.log('Remove item logic');
                        }
                    }).showToast();
                   
                } else {
                    Toastify({
                        text: `${errorData.message}`,
                        backgroundColor: 'red',
                        duration: 2000,
                        gravity: 'center'
                    }).showToast();
                }

                // Check if the response contains redirectTo field
                if (errorData.redirectTo) {
                    window.location.href = errorData.redirectTo; // Redirect to the specified URL
                }
            }
        } catch (error) {
            console.error('Error adding to cart:', error);
            Toastify({
                text: 'Error adding to cart',
                backgroundColor: 'red',
                duration: 2000,
                gravity: 'center'
            }).showToast();
        }
    });
});








document.querySelectorAll('.add-to-wishlist-link').forEach(link => {
    link.addEventListener('click', async (event) => {
        event.preventDefault(); // Prevent the default link behavior

        const productId = link.getAttribute('data-product-id'); // Extract the product ID from the data-product-id attribute
        const url = '/addToWishlistfromhome'; // Replace with your actual backend endpoint for adding to wishlist

        try {
            const response = await fetch(url, {
                method: 'POST', // Use POST method since you are adding to the wishlist
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ productId })
            });

            if (response.ok) {
                const responseData = await response.json();
                Toastify({
                    text: responseData.message,
                    backgroundColor: 'green',
                    duration: 2000,
                    gravity: 'center'
                }).showToast();
                console.log(responseData.message); // Handle success response
            } else {
                const errorData = await response.json();
                Toastify({
                    text: `${errorData.message}`,
                    backgroundColor: 'red',
                    duration: 2000,
                    gravity: 'center'
                }).showToast();
                console.error('Error adding to wishlist:', errorData.message); // Handle error response

                // Check if redirectTo is specified in errorData
                if (errorData.redirectTo) {
                    window.location.href = errorData.redirectTo; // Redirect to the specified URL
                }
            }
        } catch (error) {
            console.error('Error adding to wishlist:', error); // Handle network errors or unexpected exceptions
            Toastify({
                text: 'Error adding to wishlist',
                backgroundColor: 'red',
                duration: 2000,
                gravity: 'center'
            }).showToast();
        }
    });
});









    const urlParams = new URLSearchParams(window.location.search);
const productId = urlParams.get('productId');
const success = urlParams.get('success');

if (success === 'orderedplacedsuccessfully') {
    // Display a success message using SweetAlert
    Swal.fire({
        icon: 'success',
        title: 'Order placed successfully!',
        showConfirmButton: false,
        timer: 2500 // Auto close the pop-up after 2.5 seconds
    });

    // Clear URL parameters after 3.5 seconds
    setTimeout(() => {
        const newUrl = window.location.href.split('?')[0]; // Get the URL without parameters
        window.history.replaceState({}, document.title, newUrl); // Replace the current URL without parameters
    }, 1500);

    // Redirect to /home after 3.5 seconds
    setTimeout(() => {
        window.location.href = '/home'; // Redirect to /home
    }, 1500);
}

     var swiper = new Swiper('.swiper-container', {
    slidesPerView: 1, // Number of slides per view by default
    spaceBetween: 20, // Space between slides
    loop: true, // Enable looping
    autoplay: {
        delay: 2000, // Autoplay delay in milliseconds
        disableOnInteraction: false, // Continue autoplay even when user interacts with slides
    },
    pagination: {
        el: '.swiper-pagination', // Pagination element selector
        clickable: true, // Allow pagination bullets to be clickable
    },
    breakpoints: {
        576: {
            slidesPerView: 4, // Number of slides per view at 576px width and above
        },
        // Add more breakpoints as needed
    },
});


    document.addEventListener("DOMContentLoaded", function() {
    const urlParams = new URLSearchParams(window.location.search);
    const successMessage = urlParams.get('successMessage');
    const message = "{{messageorderplaced}}";

    if (successMessage) {
        const urlWithoutSuccessMessage = window.location.pathname;
        window.history.replaceState({}, document.title, urlWithoutSuccessMessage);
    }
  
    
});


///LOGOUT**********
 const logoutLink = document.getElementById('logoutLink');
    logoutLink.addEventListener('click', function(event) {
        event.preventDefault();
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will be logged out',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, logout',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('logoutForm').submit();
            }
        });
    });




    
</script>
</html>