<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from template.hasthemes.com/obrien/obrien/product-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Feb 2024 05:40:08 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Product Details</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
     <link rel="shortcut icon" type="image/x-icon" href="user-assets/images/logo.png">

    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/user-assets/css/vendor/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="/user-assets/css/vendor/font.awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/user-assets/css/vendor/ionicons.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="/user-assets/css/plugins/slick.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="/user-assets/css/plugins/animate.min.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="/user-assets/css/plugins/jquery-ui.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="/user-assets/css/plugins/nice-select.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/user-assets/css/plugins/magnific-popup.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->

    <!-- <link rel="stylesheet" href="/user-assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/user-assets/css/plugins/plugins.min.css"> -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="/user-assets/css/style.css">
    <!-- <link rel="stylesheet" href="/user-assets/css/style.min.css"> -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>

   <div class="main-header">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-lg-12 col-custom">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-xl-2 col-sm-6 col-6 col-custom">
                                    <div class="header-logo d-flex align-items-center">
                                        <a href="/">
                                            <img class="img-full" src="/user-assets/images/logo/logo.png" alt="Header Logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-xl-7 position-static d-none d-lg-block col-custom">
                                    <nav class="main-nav d-flex justify-content-center">
                                        <ul class="nav">
                                            <li>
                                                <a href="/">
                                                    <span class="menu-text"> Home</span>
                                                  
                                                </a>
                                               
                                            <li>
                                                <a href="/Shop">
                                                    <span class="menu-text">Shop</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                               
                                                   
                                                    <div >
                                                        <ul class="dropdown-submenu dropdown-hover ps-3">
                                                            <li><a href="/Shop">Shop</a></li>
                                                            <li><a href="/Cart">Cart</a></li>
                                                            <li><a href="/Wishlist">Wishlist</a></li>
                                                        </ul>
                                                    </div>
                                           
                                            </li>
                                          
                                            
                                            <li>
                                                <a href="/About">
                                                    <span class="menu-text"> About</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Contact">
                                                    <span class="menu-text">Contact</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                               <div class="col-lg-2 col-xl-3 col-sm-6 col-6 col-custom">
                                    <div class="header-right-area main-nav">
                                        <ul class="nav">
                                            <li class="login-register-wrap d-none d-xl-flex">
                                                                                             <span style="color: rgb(0, 0, 0); font-size:20px">
     <a href="/MyAccount">  <i class="fas fa-user-circle" style="cursor: pointer;"></i></a>
    </span><span><a href="/cart"> <i class="ion-bag" style="font-size: 20px;"></i></a></span>
                 {{#unless token}}
                                                <span><a href="/userlogin">Login</a></span>
                                                <span><a href="/userregister">Register</a></span>
                                                {{/unless}}
                                            </li>
                                           
                                            <li class="mobile-menu-btn d-lg-none">
                                                <a class="off-canvas-btn" href="#mobileMenu">
                                                    <i class="fa fa-bars"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Header Area End -->
            <!-- Sticky Header Start Here-->
            <div class="main-header header-sticky">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-lg-12 col-custom">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-xl-2 col-sm-6 col-6 col-custom">
                                    <div class="header-logo">
                                        <a href="/">
                                            <img class="img-full" src="/user-assets/images/logo/logo.png" alt="Header Logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-xl-7 position-static d-none d-lg-block col-custom">
                                    <nav class="main-nav d-flex justify-content-center">
                                        <ul class="nav">
                                            <li>
                                                <a href="/">
                                                    <span class="menu-text"> Home</span>
                                                   
                                                </a>
                                               
                                            </li>
                                           <li>
                                                <a href="/Shop">
                                                    <span class="menu-text">Shop</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                               
                                                   
                                                    <div >
                                                        <ul class="dropdown-submenu dropdown-hover ps-3">
                                                            <li><a href="/Shop">Shop</a></li>
                                                            <li><a href="/Cart">Cart</a></li>
                                                            <li><a href="/Wishlist">Wishlist</a></li>
                                                        </ul>
                                                    </div>
                                           
                                            </li>
                                          
                                         
                                            <li>
                                                <a href="/about">
                                                    <span class="menu-text"> About</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/contact">
                                                    <span class="menu-text">Contact</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-2 col-xl-3 col-sm-6 col-6 col-custom">
                                    <div class="header-right-area main-nav">
                                        <ul class="nav">
                                            <li class="login-register-wrap d-none d-xl-flex">
                                                                                             <span style="color: rgb(0, 0, 0); font-size:20px">
     <a href="/MyAccount">  <i class="fas fa-user-circle" style="cursor: pointer;"></i></a>
    </span><span><a href="/cart"> <i class="ion-bag" style="font-size: 20px;"></i></a></span>
              {{#unless token}}
                                                <span><a href="/userlogin">Login</a></span>
                                                <span><a href="/userregister">Register</a></span>
                                                {{/unless}}
                                            </li>
                                           
                                            <li class="mobile-menu-btn d-lg-none">
                                                <a class="off-canvas-btn" href="#mobileMenu">
                                                    <i class="fa fa-bars"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sticky Header End Here -->
            <!-- off-canvas menu start -->
            <aside class="off-canvas-wrapper" id="mobileMenu">
                <div class="off-canvas-overlay"></div>
                <div class="off-canvas-inner-content">
                    <div class="btn-close-off-canvas">
                        <i class="fa fa-times"></i>
                    </div>
                    <div class="off-canvas-inner">

                        <div class="search-box-offcanvas">
                            
                        </div>
                        <!-- mobile menu start -->
                        <div class="mobile-navigation">

                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li class="menu-item-has-children"><a href="/">Home</a>
                                        
                                    </li>
                                    <li class="menu-item-has-children"><a href="/shop">Shop</a>
                                        <ul class="megamenu dropdown">
                                                <ul>
                                                    <li><a href="/shop"></a>Shop</li>
                                                            <li><a href="/Cart">Cart</a></li>
                                                            
                                                            <li><a href="/Wishlist">Wishlist</a></li>
                                                        </ul>
                                            </li>
                                        </ul>
                                    </li>
                                   
                                   
                                    <li><a href="/About">About Us</a></li>
                                    <li><a href="/Contact">Contact</a></li>
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- mobile menu end -->
                        <div class="header-top-settings offcanvas-curreny-lang-support">
                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li class="menu-item-has-children"><a href="/MyAccount">My Account</a>
                                    {{#unless token}}
                                        <ul class="dropdown">
                                            <span><a href="/Userlogin">Login</a></span> 
                                        </ul>
                                         <ul class="dropdown">
                                            <span><a href="/userregister">Register</a></span>
                                        </ul>
                                        {{/unless}}
                                    </li>
                                   
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- offcanvas widget area start -->
                        <div class="offcanvas-widget-area">
                            <div class="top-info-wrap text-left text-black">
                                <ul>
                                    <li>
                                        <i class="fa fa-phone"><br>+91 7034936080</i>
                                        <a href="/"></a>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <a href="/">fruitbasketmails@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                        <!-- offcanvas widget area end -->
                    </div>
                </div>
            </aside>
            <!-- off-canvas menu end -->
        </header>
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumbs-area position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="breadcrumb-content position-relative section-content">
                            <h3 class="title-3">Product Details</h3>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Product Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Single Product Main Area Start -->
        <div class="single-product-main-area">
            <div class="container container-default custom-area">
                <div class="row">
                    <div class="col-lg-3 col-custom">
                        <div class="product-details-img horizontal-tab  col-lg-12">
                            <div class="product-slider popup-gallery product-details_slider" data-slick-options='{
                        "slidesToShow": 1,
                        "arrows": false,
                        "fade": true,
                        "draggable": false,
                        "swipe": false,
                        "asNavFor": ".pd-slider-nav"
                        }'>
                               
                              
                              {{#if product}}
                                <div class="single-image border ">
                                    <a href="/user-assets/images/product/large-size/7.png">
                                        <img src="{{product.productImage}}" alt="Product">
                                    </a>
                                </div>
                            </div>
                            
                            
                           
                        </div>
                    </div>
                    <div class="col-lg-7 col-custom">
                        <div class="product-summery position-relative">
                            <div class="product-head mb-3">
                                <h2 class="product-title">{{product.name}}</h2>
                            </div>
                            <div class="price-box mb-2">
                                <span class="regular-price"><span>&#8377;</span>{{product.mrp}}</span>
                                <span class="old-price"><del><span>&#8377;</span>{{product.sellingPrice}}</span>
                            </div>
                            <div class="product-rating mb-3">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            
                            <p class="desc-content mb-3">{{product.description}}</p>
                          
                            <div class="quantity-with_btn col-lg-6">
                               {{#if product.isDisabled}}
                                <h5 class="text-danger"><span class="text-dark">SOLDOUT,</span><br>this product is currently out of stock </h5>
                                {{else}}
                                  <div class="add-to_cart">
                                    <a class="btn obrien-button primary-btn" href="/addToCartFromProductDetails/{{product._id}}">Add to cart</a>
                                    <a class="btn obrien-button-2 treansparent-color pt-0 pb-0" href="/AddToWishlistfromproductdetails/{{product._id}}">Add to wishlist</a>
                                </div>
                                {{/if}}
                            </div>
                          
                        
                        </div>
                    </div>
                </div>
                <div class="row mt-no-text">
                    <div class="col-lg-12">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active text-uppercase" id="home-tab" data-bs-toggle="tab" href="#connect-1" role="tab" aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" id="profile-tab" data-bs-toggle="tab" href="#connect-2" role="tab" aria-selected="false">Reviews</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase" id="contact-tab" data-bs-toggle="tab" href="#connect-3" role="tab" aria-selected="false">Shipping Policy</a>
                            </li>
                          
                        </ul>
                        <div class="tab-content mb-text" id="myTabContent">
                            <div class="tab-pane fade show active" id="connect-1" role="tabpanel" aria-labelledby="home-tab">
                                <div class="desc-content">
                                    <p class="mb-3">{{product.description}}</p>
                                    
                                </div>
                            </div>
                           
                            <div class="tab-pane fade" id="connect-3" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="shipping-policy">
                                    <h4 class="title-3 mb-4">Shipping policy for our store</h4>
                                    <p class="desc-content mb-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate</p>
                                    <ul class="policy-list mb-2">
                                        <li>1-2 business days (Typically by end of day)</li>
                                        <li><a href="#">30 days money back guaranty</a></li>
                                        <li>24/7 live support</li>
                                        <li>odio dignissim qui blandit praesent</li>
                                        <li>luptatum zzril delenit augue duis dolore</li>
                                        <li>te feugait nulla facilisi.</li>
                                    </ul>
                                    <p class="desc-content mb-2">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum</p>
                                    <p class="desc-content mb-2">claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per</p>
                                    <p class="desc-content mb-2">seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
          {{/if}}
        <!-- Single Product Main Area End -->
        <!-- Product Area Start Here -->
        <div class="product-area mb-text">
            <div class="container container-default custom-area">
                <div class="row">
                    
                </div>
                
        </div>
        </div>
        <!-- Product Area End Here -->
        <!-- Product Area Start Here -->
        <div class="product-area mb-no-text">
            <div class="container container-default custom-area">
                <div class="row">
                    <div class="col-lg-5 m-auto text-center col-custom">
                        <div class="section-content">
                            <h2 class="title-1 text-uppercase">You May Also Like</h2>
                            <div class="desc-content">
                                <p>Most of the customers choose our products. You may also like our product.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{#if filteredProducts}}
                            {{#each filteredProducts}}
                            <div class="col-md-6 col-sm-6 col-lg-3 col-custom product-area mb-5" id="specificDiv">
                                <div class="single-product position-relative">
                                    <div class="product-image">
                                        <a class="d-block" href="/products-details/{{this.id}}">
                                            <img src="{{this.productImage}}" alt="" class="product-image-1 w-100">
                                           
                                        </a>
                                    </div>
                                      {{#if this.isDisabled}}
                                    <div class="label-product">
                                        <span class="label-sale position-absolute text-uppercase text-white text-center d-block">Soldout</span>
                                    </div>
                                    {{/if}}
                                    <div class="product-content">
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <div class="product-title">
                                            <h4 class="title-2"> <a href="/products-details">{{this.name}}</a></h4>
                                        </div>
                                        <div class="price-box">
                                            <span class="regular-price text-bold"><span>&#8377;</span>{{this.mrp}}/-</span>
                                            <span class="old-price"><del>$90.00</del></span>
                                        </div>
                                    </div>
                                    {{#unless this.isDisabled}}
                                    <div class="add-action d-flex position-absolute">
                                        <a href="/addToCart/{{this._id}}" title="Add To cart">
                                            <i class="ion-bag"></i>
                                        </a>
                                    
                                        <a href="/addToWishList/{{this._id}}" title="Add To Wishlist">
                                            <i class="ion-ios-heart-outline"></i>
                                        </a>
                                     
                                    </div>
                                    {{/unless}}
                                   
                                </div>
                            </div>
                            {{/each}}
                           {{/if}}                        
                            
                        </div>
                    </div>
                </div>
          
        <!-- Product Area End Here -->
        <!-- Support Area Start Here -->
         <div class="support-area">
            <div class="container container-default custom-area">
                <div class="row">
                    <div class="col-lg-12 col-custom">
                        <div class="support-wrapper d-flex">
                            <div class="support-content">
                                <h1 class="title">Need Help ?</h1>
                                <p class="desc-content">Call our support 24/7 at 7034936080</p>
                            </div>
                            <div class="support-button d-flex align-items-center">
                                <a class="obrien-button primary-btn" href="/Contact">Contact now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Support Area End Here -->
        <!-- Footer Area Start Here -->
        <footer class="footer-area">
            <div class="footer-widget-area">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-custom">
                            <div class="single-footer-widget m-0">
                                <div class="footer-logo">
                                    <a href="/">
                                         <img class="img-full" src="/user-assets/images/logo/logo.png" alt="Header Logo">
                                    </a>
                                </div>
                                <p class="desc-content">Fruitbasket is the best parts shop of your daily nutritions. What kind of nutrition do you need you can get here</p>
                               
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                            <div class="single-footer-widget">
                                <h2 class="widget-title">Information</h2>
                                <ul class="widget-list">
                                    <li><a href="/About">Our Company</a></li>
                                    <li><a href="/Contact">Contact Us</a></li>
                                    <li><a href="/About">Our Services</a></li>
                                    <li><a href="/About">Why We?</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                            <div class="single-footer-widget">
                                <h2 class="widget-title">Quicklink</h2>
                                <ul class="widget-list">
                                    <li><a href="/About">About</a></li>
                                    
                                    <li><a href="/shop">Shop</a></li>
                                    <li><a href="/cart">Cart</a></li>
                                    <li><a href="/Contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                      
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-custom">
                            <div class="single-footer-widget">
                                <h2 class="widget-title">See Information</h2>
                                <div class="widget-body">
                                    <address>3rd Floor Hilite business park , calicut<br>Phone:+91 7034906080<br>Email: https://fruitbasketmails@gmail.com</address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </footer>
        <!-- Footer Area End Here -->
    </div>

    <!-- Modal Area Start Here -->
  
    <!-- Modal Area End Here -->

    <!-- Scroll to Top Start -->
    <a class="scroll-to-top" href="#">
        <i class="ion-chevron-up"></i>
    </a>
    <!-- Scroll to Top End -->

    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src="/user-assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- jQuery Migrate JS -->
    <script src="/user-assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Modernizer JS -->
    <script src="/user-assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/user-assets/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- Slick Slider JS -->
    <script src="/user-assets/js/plugins/slick.min.js"></script>
    <!-- Countdown JS -->
    <script src="/user-assets/js/plugins/jquery.countdown.min.js"></script>
    <!-- Ajax JS -->
    <script src="/user-assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <!-- Jquery Nice Select JS -->
    <script src="/user-assets/js/plugins/jquery.nice-select.min.js"></script>
    <!-- Jquery Ui JS -->
    <script src="/user-assets/js/plugins/jquery-ui.min.js"></script>
    <!-- jquery magnific popup js -->
    <script src="/user-assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!-- Main JS -->
    <script src="/user-assets/js/main.js"></script>

</body>


<!-- Mirrored from template.hasthemes.com/obrien/obrien/product-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Feb 2024 05:40:13 GMT -->
</html>