<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from template.hasthemes.com/obrien/obrien/shop.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Feb 2024 05:40:06 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shop</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
     <link rel="shortcut icon" type="image/x-icon" href="user-assets/images/logo.png">

    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/user-assets/css/vendor/bootstrap.min.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="/user-assets/css/vendor/font.awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/user-assets/css/vendor/ionicons.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="/user-assets/css/plugins/slick.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="/user-assets/css/plugins/animate.min.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="/user-assets/css/plugins/jquery-ui.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="/user-assets/css/plugins/nice-select.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/user-assets/css/plugins/magnific-popup.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->

    <!-- <link rel="stylesheet" href="/user-assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="/user-assets/css/plugins/plugins.min.css"> -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="/user-assets/css/style.css">
    <!-- <link rel="stylesheet" href="/user-assets/css/style.min.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</head>

<body>



    <div class="shop-wrapper">
        <header class="main-header-area">
            <!-- Main Header Area Start -->
            <div class="main-header">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-lg-12 col-custom">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-xl-2 col-sm-6 col-6 col-custom">
                                    <div class="header-logo d-flex align-items-center">
                                        <a href="/">
                                            <img class="img-full" src="/user-assets/images/logo/logo.png" alt="Header Logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-xl-7 position-static d-none d-lg-block col-custom">
                                    <nav class="main-nav d-flex justify-content-center">
                                        <ul class="nav">
                                            <li>
                                                <a href="/home">
                                                    <span class="menu-text"> Home</span>
                                                  
                                                </a>
                                              
                                            </li>
                                            <li>
                                                <a href="/Shop">
                                                    <span class="menu-text">Shop</span>
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                               
                                                   
                                                    <div >
                                                        <ul class="dropdown-submenu dropdown-hover ps-3">
                                                            <li><a href="/Shop">Shop</a></li>
                                                            <li><a href="/Cart">Cart</a></li>
                                                            <li><a href="/Wishlist">Wishlist</a></li>
                                                        </ul>
                                                    </div>
                                            </li>
                                           
                                            
                                            <li>
                                                <a href="/About">
                                                    <span class="menu-text"> About</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/Contact">
                                                    <span class="menu-text">Contact</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-2 col-xl-3 col-sm-6 col-6 col-custom">
                                    <div class="header-right-area main-nav">
                                        <ul class="nav">
                                            <li class="login-register-wrap d-none d-xl-flex">
                                                <span style="color: rgb(0, 0, 0); font-size:20px">
     <a href="/MyAccount">  <i class="fas fa-user-circle" style="cursor: pointer;"></i></a>
    </span><span><a href="/cart"> <i class="ion-bag" style="font-size: 20px;"></i></a></span>
       {{#unless token}}
                                                <span><a href="/userlogin">Login</a></span>
                                                <span><a href="/userregister">Register</a></span>
                                                {{/unless}}
                                            </li>
                                            
                                          
                                            <li class="mobile-menu-btn d-lg-none">
                                                <a class="off-canvas-btn" href="#">
                                                    <i class="fa fa-bars"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Header Area End -->
            <!-- Sticky Header Start Here-->
            <div class="main-header header-sticky">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-lg-12 col-custom">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-xl-2 col-sm-6 col-6 col-custom">
                                    <div class="header-logo">
                                        <a href="/">
                                            <img class="img-full" src="/user-assets/images/logo/logo.png" alt="Header Logo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-xl-7 position-static d-none d-lg-block col-custom">
                                    <nav class="main-nav d-flex justify-content-center">
                                        <ul class="na">
                                            <li>
                                                <a href="/">
                                                    <span class="menu-text"> Home</span>
                                                 
                                            </li>
                                           
                                           
                                            
                                            </li>
                                            <li>
                                                <a href="/about">
                                                    <span class="menu-text"> About</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/contact">
                                                    <span class="menu-text">Contact</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-2 col-xl-3 col-sm-6 col-6 col-custom">
                                    <div class="header-right-area main-nav">
                                        <ul class="nav">
                                            <li class="login-register-wrap d-none d-xl-flex">
                                                                                             <span style="color: rgb(0, 0, 0); font-size:20px">
     <a href="/MyAccount">  <i class="fas fa-user-circle" style="cursor: pointer;"></i></a>
     
    </span><span><a href="/cart"> <i class="ion-bag" style="font-size: 20px;"></i></a></span>
                {{#unless token}}
                                                <span><a href="/userlogin">Login</a></span>
                                                <span><a href="/userregister">Register</a></span>
                                                {{/unless}}
                                            </li>
                                           
                                            <li class="mobile-menu-btn d-lg-none">
                                                <a class="off-canvas-btn" href="#mobileMenu">
                                                    <i class="fa fa-bars"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sticky Header End Here -->
            <!-- off-canvas menu start -->
             <aside class="off-canvas-wrapper" id="mobileMenu">
                <div class="off-canvas-overlay"></div>
                <div class="off-canvas-inner-content">
                    <div class="btn-close-off-canvas">
                        <i class="fa fa-times"></i>
                    </div>
                    <div class="off-canvas-inner">

                        <div class="search-box-offcanvas">
                            
                        </div>
                        <!-- mobile menu start -->
                        <div class="mobile-navigation">

                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li class="menu-item-has-children"><a href="/">Home</a>
                                        
                                    </li>
                                    <li class="menu-item-has-children"><a href="/shop">Shop</a>
                                        <ul class="megamenu dropdown">
                                                <ul>
                                                            <li><a href="/Cart">Cart Page</a></li>
                                                            
                                                            <li><a href="/Wishlist">Wishlist Page</a></li>
                                                        </ul>
                                            </li>
                                        </ul>
                                    </li>
                                   
                                   
                                    <li><a href="/About">About Us</a></li>
                                    <li><a href="/Contact">Contact</a></li>
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- mobile menu end -->
                        <div class="header-top-settings offcanvas-curreny-lang-support">
                            <!-- mobile menu navigation start -->
                            <nav>
                                <ul class="mobile-menu">
                                    <li class="menu-item-has-children"><a href="/MyAccount">My Account</a>
                                    {{#unless token}}
                                        <ul class="dropdown">
                                            <span><a href="/Userlogin">Login</a></span> 
                                        </ul>
                                         <ul class="dropdown">
                                            <span><a href="/userregister">Register</a></span>
                                        </ul>
                                        {{/unless}}
                                    </li>
                                   
                                </ul>
                            </nav>
                            <!-- mobile menu navigation end -->
                        </div>
                        <!-- offcanvas widget area start -->
                        <div class="offcanvas-widget-area">
                            <div class="top-info-wrap text-left text-black">
                                <ul>
                                    <li>
                                        <i class="fa fa-phone"><br>+91 7034936080</i>
                                        <a href="/"></a>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <a href="/">fruitbasketmails@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                        <!-- offcanvas widget area end -->
                    </div>
                </div>
            </aside>
            <!-- off-canvas menu end -->
        </header>
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumbs-area position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="breadcrumb-content position-relative section-content">
                            <h3 class="title-3">Shop</h3>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li>Shop</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Shop Main Area Start Here -->
        <div class="shop-main-area">
            <div class="container container-default custom-area">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9 col-12 col-custom widget-mt">
                        <!--shop toolbar start-->
                        <div class="shop_toolbar_wrapper">
                            <div class="shop_toolbar_btn">
                                <button data-role="grid_3" type="button" class="active btn-grid-3" data-bs-toggle="tooltip" title="3"><i class="fa fa-th"></i></button>
                                <!-- <button data-role="grid_4" type="button"  class=" btn-grid-4" data-bs-toggle="tooltip" title="4"></button> -->
                            </div>
                            <div class="shop-select">
         <form id="sortForm" class="d-flex flex-column w-100" action="#">
    <div class="form-group">
   
      <select id="sortSelect" class="form-control">
    <option value="none">&#128204;Filter</option>
    <option value="alphabetically"> Alphabetically, A-Z</option>  
    <option value="popularity"> Sort by popularity</option>
    <option value="lowToHigh">Sort by price: low to high</option>
    <option value="highToLow"> Sort by price: high to low</option>
</select>

    </div>
</form>
                            </div>
                        </div>
                        <!--shop toolbar end-->
                        <!-- Shop Wrapper Start -->
                        <div class="row shop_wrapper grid_3" id="specificDiv1">


                            {{#if products}}
                            {{#each products}}
                            <div class=" col-md-6 col-sm-6 col-lg-4 col-custom product-area " id="specificDiv">
                                <div class="single-product position-relative">
                                    <div class="product-image">
                                        <a class="d-block" href="/products-details/{{this.id}}">
                                            <img src="{{this.productImage}}" alt="" class="product-image-1 w-100">
                                           
                                        </a>
                                    </div>
                                     {{#if this.isDisabled}}
                                    <div class="label-product">
                                        <span class="label-sale position-absolute text-uppercase text-white text-center d-block">Soldout</span>
                                    </div>
                                    {{/if}}
                                    <div class="product-content">
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <div class="product-title">
                                            <h4 class="title-2"> <a href="/products-details">{{this.name}}</a></h4>
                                        </div>
                                        <div class="price-box">
                                            <span class="regular-price text-bold"><span>&#8377;</span>{{this.mrp}}/-</span>
                                            <span class="old-price"><del><span>&#8377;</span>{{this.sellingPrice}}</del></span>
                                        </div>     
                                    </div>
                                   {{#unless this.isDisabled}}
    <div class="add-action d-flex position-absolute">
        <a href="/addToCart/{{this._id}}" title="Add To cart">
            <i class="ion-bag"></i>
        </a>
      
        <a href="/addToWishList/{{this._id}}" title="Add To Wishlist">
            <i class="ion-ios-heart-outline"></i>
        </a>
    </div>
{{/unless}}

                                    <div class="product-content-listview">
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <div class="product-title">
                                            <h4 class="title-2"> <a href="/products-details">{{this.name}}</a></h4>
                                        </div>
                                        <div class="price-box">
                                             <span class="regular-price text-bold"><span>&#8377;</span>{{this.mrp}}/-</span>
                                            <span class="old-price"><del><span>&#8377;</span>{{this.sellingPrice}}</del></span>
                                        </div>
                                        
                                        <div class="add-action-listview d-flex">
                                            <a href="/addToCart/{{this._id}}" title="Add To cart">
                                                <i class="ion-bag"></i>
                                            </a>
                                        
                                            <a href="/addToWishList/{{this._id}}" title="Add To Wishlist">
                                                <i class="ion-ios-heart-outline"></i>
                                            </a>
                                          
                                        </div>
                                        <p class="desc-content">
                                           {{this.description}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                           {{/if}}                        
                            
                           
                           
                           
                            
                           
                          
                        </div>
                        <!-- Shop Wrapper End -->
                        <!-- Bottom Toolbar Start -->
                        <div class="row">
                            <div class="col-sm-12 col-custom">
                                <div class="toolbar-bottom mt-30">
                                    <nav class="pagination pagination-wrap mb-10 mb-sm-0">
                                        
                                    </nav>
                                 
                                </div>
                            </div>
                        </div>
                        <!-- Bottom Toolbar End -->
                    </div>
                    <div class="col-lg-3 col-12 col-custom">
                        <!-- Sidebar Widget Start -->
                        <aside class="sidebar_widget widget-mt">
                            <div class="widget_inner">
                                <div class="widget-list widget-mb-1">
                                    <h3 class="widget-title">Search</h3>
                                    <form action="/SearchProducts" method="post" class="search-box">
                                    <div class="search-box">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search Our Store" aria-label="Search Our Store" name="valuename">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="widget-list widget-mb-1">
                                    <h3 class="widget-title">Menu Categories</h3>
                                    <!-- Widget Menu Start -->
                                    <nav>
                                        <ul class="mobile-menu p-0 m-0">
                                            <li class="menu-item-has-children"><a href="/Shop/Fresh">Select Fresh </a>
                                               
                                            </li>
                                            <li class="menu-item-has-children"><a href="/Shop/Healthy">Choose Healthy</a>
                                             
                                            </li>
                                            <li class="menu-item-has-children"><a href="/Shop/Organic"> Go Organic</a>
                                                
                                            </li>
                                            <li class="menu-item-has-children"><a href="/Shop/Seasonal">Pick Seasonal</a>
                                            
                                            </li>
                                        </ul>
                                    </nav>
                                    <!-- Widget Menu End -->
                                </div>
                                <div class="widget-list widget-mb-1">
                                    <h3 class="widget-title">Categories</h3>
                                    <div class="sidebar-body">
                                        <ul class="sidebar-list">
                                            <li><a href="/Shop/AllProducts">All Products</a></li>
                                            <li><a href="/Shop/BestQuality">Best Quality(5)</a></li>
                                            <li><a href="/Shop/Featured">Featured (4)</a></li>
                                            <li><a href="/Shop/NewProducts">New Products (6)</a></li>
                                        </ul>
                                    </div>
                                </div>
                                
                                <div id="productsListjson"></div>
                  
                            </div>
                        </aside>
                        <!-- Sidebar Widget End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Main Area End Here -->
        <!-- Support Area Start Here -->
        <div class="support-area">
            <div class="container container-default custom-area">
                <div class="row">
                    <div class="col-lg-12 col-custom">
                        <div class="support-wrapper d-flex">
                            <div class="support-content">
                                <h1 class="title">Need Help ?</h1>
                                <p class="desc-content">Call our support 24/7 at 7034936080</p>
                            </div>
                            <div class="support-button d-flex align-items-center">
                                <a class="obrien-button primary-btn" href="/Contact">Contact now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Support Area End Here -->
        <!-- Footer Area Start Here -->
         <footer class="footer-area">
            <div class="footer-widget-area">
                <div class="container container-default custom-area">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-custom">
                            <div class="single-footer-widget m-0">
                                <div class="footer-logo">
                                    <a href="/">
                                        <img src="user-assets/images/logo/footer.png" alt="Logo Image">
                                    </a>
                                </div>
                                <p class="desc-content">Fruitbasket is the best parts shop of your daily nutritions. What kind of nutrition do you need you can get here</p>
                               
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                            <div class="single-footer-widget">
                                <h2 class="widget-title">Information</h2>
                                <ul class="widget-list">
                                    <li><a href="/About">Our Company</a></li>
                                    <li><a href="/Contact">Contact Us</a></li>
                                    <li><a href="/About">Our Services</a></li>
                                 
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                            <div class="single-footer-widget">
                                <h2 class="widget-title">Quicklink</h2>
                                <ul class="widget-list">
                                    <li><a href="/About">About</a></li>
                                    
                                    <li><a href="/shop">Shop</a></li>
                                    <li><a href="/cart">Cart</a></li>
                                    <li><a href="/Contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                     
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-custom">
                            <div class="single-footer-widget">
                                <h2 class="widget-title">See Information</h2>
                                <div class="widget-body">
                                    <address>3rd Floor Hilite business park , calicut<br>Phone:+91 7034906080<br>Email: https://fruitbasketmails@gmail.com</address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </footer>
        <!-- Footer Area End Here -->
    </div>

   
  

    <!-- Modal Area End Here -->

    <!-- Scroll to Top Start -->
    <a class="scroll-to-top" href="#">
        <i class="ion-chevron-up"></i>
    </a>
    <!-- Scroll to Top End -->

    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src="/user-assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- jQuery Migrate JS -->
    <script src="/user-assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Modernizer JS -->
    <script src="/user-assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/user-assets/js/vendor/bootstrap.bundle.min.js"></script>
    <!-- Slick Slider JS -->
    <script src="/user-assets/js/plugins/slick.min.js"></script>
    <!-- Countdown JS -->
    <script src="/user-assets/js/plugins/jquery.countdown.min.js"></script>
    <!-- Ajax JS -->
    <script src="/user-assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <!-- Jquery Nice Select JS -->
    <script src="/user-assets/js/plugins/jquery.nice-select.min.js"></script>
    <!-- Jquery Ui JS -->
    <script src="/user-assets/js/plugins/jquery-ui.min.js"></script>
    <!-- jquery magnific popup js -->
    <script src="/user-assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!-- Main JS -->
    <script src="/user-assets/js/main.js"></script>

</body>


<!-- Mirrored from template.hasthemes.com/obrien/obrien/shop.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Feb 2024 05:40:07 GMT -->
</html>
<script>








    

     document.getElementById('sortSelect').addEventListener('change', function() {
        const selectedOption = this.value;
        console.log(selectedOption)
        const url = '/Sort'; 
        fetch(url, {
            method: 'post',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ sortOption: selectedOption })
        })
          .then(response => response.json())
    .then(data => {
        console.log('Sorted data:', data);
        const productsList = document.getElementById('specificDiv1'); // Get the target div for displaying products
        productsList.innerHTML = ''; // Clear previous product list
        data.sortedProducts.forEach(product => {
            // Create product elements
            const productDiv = document.createElement('div');
            productDiv.classList.add('col-md-6', 'col-sm-6', 'col-lg-4', 'col-custom', 'product-area');

            const singleProductDiv = document.createElement('div');
            singleProductDiv.classList.add('single-product', 'position-relative');

            const productImageDiv = document.createElement('div');
            productImageDiv.classList.add('product-image');

            const productImageLink = document.createElement('a');
            productImageLink.classList.add('d-block');
            productImageLink.href = '/products-details/' + product._id

            const productImage = document.createElement('img');
            productImage.src = product.productImage;
            productImage.alt = '';
            productImage.classList.add('product-image-1', 'w-100');

            productImageLink.appendChild(productImage);
            productImageDiv.appendChild(productImageLink);

            singleProductDiv.appendChild(productImageDiv);

            const productContentDiv = document.createElement('div');
            productContentDiv.classList.add('product-content');

            // Add product rating
      // Create the product rating div
// Create the product rating div
const productRating = document.createElement('div');
productRating.classList.add('product-rating');

// Create filled star icons with spacing
for (let i = 0; i < 3; i++) {
    const filledStarIcon = document.createElement('i');
    filledStarIcon.classList.add('fa', 'fa-star');
    filledStarIcon.style.marginRight = '5px'; // Add margin between filled stars
    productRating.appendChild(filledStarIcon);
}

// Create empty star icons with spacing
for (let i = 0; i < 2; i++) {
    const emptyStarIcon = document.createElement('i');
    emptyStarIcon.classList.add('fa', 'fa-star-o');
    emptyStarIcon.style.marginRight = '5px'; // Add margin between empty stars
    productRating.appendChild(emptyStarIcon);
}

// Append the product rating div to the product content div
productContentDiv.appendChild(productRating);




         const productTitle = document.createElement('div');
productTitle.classList.add('product-title');

const titleLink = document.createElement('a');
if (product.isDisabled) {
    titleLink.href = 'javascript:void(0)'; // Link is disabled for soldout products
    titleLink.textContent = product.name;

    // Add the "Soldout" label div
    const labelProductDiv = document.createElement('div');
    labelProductDiv.classList.add('label-product');
    const labelSaleSpan = document.createElement('span');
    labelSaleSpan.classList.add('label-sale', 'position-absolute', 'text-uppercase', 'text-white', 'text-center', 'd-block');
    labelSaleSpan.textContent = 'Soldout';
    labelProductDiv.appendChild(labelSaleSpan);
    productTitle.appendChild(labelProductDiv);
} else {
    titleLink.href = '/products-details/' + product._id;
    titleLink.textContent = product.name;
}

const titleHeading = document.createElement('h4');
titleHeading.classList.add('title-2');

titleHeading.appendChild(titleLink);
productTitle.appendChild(titleHeading);
productContentDiv.appendChild(productTitle);



          // Create the price box
const priceBox = document.createElement('div');
priceBox.classList.add('price-box');



// Create the regular price element with the Indian Rupee symbol
const regularPrice = document.createElement('span');
regularPrice.classList.add('regular-price', 'text-bold');
const rupeeSymbol = document.createElement('span');
rupeeSymbol.innerHTML = '&#8377;'; // Indian Rupee symbol
regularPrice.appendChild(rupeeSymbol);


    regularPrice.textContent += product.mrp + '/-';
    

    const oldPrice = document.createElement('span');
    oldPrice.classList.add('old-price');
    const del = document.createElement('del');
    del.innerHTML = '&#8377;'; 
    del.appendChild(document.createTextNode(product.sellingPrice + '/-'));
    
    oldPrice.appendChild(del);
    


// Append the regular price to the price box
priceBox.appendChild(regularPrice);
priceBox.appendChild(oldPrice);

// Append the price box to the product content div
productContentDiv.appendChild(priceBox);

// Append the product content div to the single product div
singleProductDiv.appendChild(productContentDiv);

// Append the single product div to the products list div
productDiv.appendChild(singleProductDiv);

// Append the product div to the specific div
productsList.appendChild(productDiv);




// Check if the product is not disabled before creating the buttons
if (!product.isDisabled) {
    // Create the add-action div
    const addActionDiv = document.createElement('div');
    addActionDiv.classList.add('add-action', 'd-flex', 'position-absolute');

    // Create the Add to Cart button
    const addToCartLink = document.createElement('a');
    addToCartLink.href = '/addToCart/' + product._id;
    addToCartLink.title = 'Add To Cart';

    const cartIcon = document.createElement('i');
    cartIcon.classList.add('ion-bag');

    addToCartLink.appendChild(cartIcon);
    addActionDiv.appendChild(addToCartLink);

    // Create the Add to Wishlist button
    const wishlistLink = document.createElement('a');
    wishlistLink.href = '/addToWishList/' + product._id;
    wishlistLink.title = 'Add To Wishlist';

    const wishlistIcon = document.createElement('i');
    wishlistIcon.classList.add('ion-ios-heart-outline');

    wishlistLink.appendChild(wishlistIcon);
    addActionDiv.appendChild(wishlistLink);

    // Append the add-action div to the product content div
    productContentDiv.appendChild(addActionDiv);
}


        });
    })
        .catch(error => {
            console.error('Error sorting:', error);
            // Handle any errors that occur during the sorting process
        });
    });











    const urlParams = new URLSearchParams(window.location.search);
    const productId = urlParams.get('productId');
    const success = urlParams.get('success');
   if (success === 'addedToCart') {
    // Display a success message using SweetAlert
    Swal.fire({
        icon: 'success',
        title: 'Item successfully added to cart!',
        showConfirmButton: false,
        timer: 1500, // Auto close the pop-up after 1.5 seconds
        onClose: () => {
            // Redirect to /shop after 1 second
            setTimeout(() => {
                window.location.href = '/shop';
            }, 100); // 1000 milliseconds = 1 second
        }
    });
}
    const failed = urlParams.get('failed');
    if (failed === 'ItemIsAlreadyInCart') {
        // Display an error message using SweetAlert
        Swal.fire({
            icon: 'error',
            title: 'Item is already in cart!',
            text: 'Do you want to remove it?',
            showCancelButton: true,
            confirmButtonText: 'Yes, remove it',
            cancelButtonText: 'No, keep it',
            
            
        }).then((result) => {
            if (result.isConfirmed) {
                // Redirect to the route for removing the item from the wishlist
                window.location.href = `/DeleteFromCart/${productId}`;
            }
            
        });
    }

    if (success === 'addedToWishlist') {
        // Display a success message using SweetAlert
        Swal.fire({
            icon: 'success',
            title: 'Item successfully added to Wishlist!',
            showConfirmButton: false,
            timer: 1500 ,// Auto close the pop-up after 1.5 seconds
               onClose: () => {
            // Redirect to /shop after 1 second
            setTimeout(() => {
                window.location.href = '/shop';
            }, 100); // 1000 milliseconds = 1 second
        }
        });
    }
       
    if (failed === 'ItemIsAlreadyInWishList') {
        // Display an error message using SweetAlert
        Swal.fire({
            icon: 'error',
            title: 'Item is already in wishlist!',
            text: 'Do you want to remove it?',
            showCancelButton: true,
            confirmButtonText: 'Yes, remove it',
            cancelButtonText: 'No, keep it',
            
        }).then((result) => {
            if (result.isConfirmed) {
                // Redirect to the route for removing the item from the wishlist
                window.location.href =  `/DeleteWishList/${productId}`;
                
               
            }
        });
    }

     if (success === 'orderedplacedsuccessfully') {
        // Display a success message using SweetAlert
        Swal.fire({
            icon: 'success',
            title: 'Order placed successfully!',
            showConfirmButton: false,
            timer: 1500 // Auto close the pop-up after 1.5 seconds
        });
     }

    
    

   
</script>




{{!-- organic
seasonal fruits
farmfresh
healthy --}}


